.call {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden; 
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--theme);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.call-responsive {
    display: none;
}

.call > h3, 
.call > p {
    max-width: 700px;
    text-align: center;
    line-height: 1.3;
}

.call > h3 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.call > p {
    font-size: 14px;
}

.call > a {
    width: fit-content; 
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    transition: transform 0.2s ease-in-out; 
    text-decoration: none;
}

.call > a:hover {
    transform: scale(1.1); 
}

@media (max-width: 768px) {
    .call-responsive {
        display: flex;
    }
}